<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.erlan.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Conexao TCC_Erlan</name>
    <description>
        Exemplo Connection
    </description>
    <author email="erlan.ara@gmail.com  " href="erlan.com.br">
        EAS TEAM
    </author>
    <access origin="*"/>

    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />

    <gap:plugin name="org.apache.cordova.network-information" version="0.2.7" />

</widget>
